<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is a flight booker for <a href="http://www.theodinproject.com//">The Odin Project</a>.<br>
  Built using <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  <br>
  
  <br>
  <center><strong>This is the test application.</strong><br>
  <a href="http://www.theodinproject.com/courses/ruby-on-rails/lessons/building-advanced-forms">
    <em>Direct link to the project</em></a></center>
</p>
