<% provide(:title, 'Bookings') %>
<h1>Your Bookings</h1>

<ul>
    <% @bookings.each do |booking| %>
        <li><%= link_to "#{booking.flight.name}", booking_path(booking.id) %></li>
    <% end %>
</ul>