<% provide(:title, 'Bookings') %>
<h1>Your Bookings</h1>

<ul>
    <% unless @bookings.nil? %>
        <% @bookings.each do |booking| %>
            <li><%= link_to "#{booking.flight_id}", booking_path(booking.id) %></li>
        <% end %>
    <% end %>
</ul>